# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
.env/

# Model files
models/*.gguf

# Database files
*.db

# OS files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Logs
*.log

# Python egg info
*.egg-info/ 